* {
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
}
.background {
    position:absolute;
    display:block;
    top: 0;
    left: 0;
    z-index: 0;
}

body {
    background-image: url('../img/cool-background.png');
    font-family: 'Oswald', sans-serif;
}
.titulo{
    text-align: center;
    background-color: #ff4949;
    margin-bottom: 0%;

}
.texto_descriptivo{
    font-size: 18px;
    background-color: #dadada;
}
/* Header */

.img_logo{
    width: 40%;
}
#navbarNavAltMarkup{
    margin-left: 10rem;
}
.navbar-toggler{
    margin-right: 10%;
   
}

.nav-item {
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px; 
    font-size: 20px;
}


h1{
    font-size: 50px;
}

h3 {
    font-size: 30px;
} 

/* Comentarios */
.testimonios{
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.burbuja_comentario {
    background: rgb(63, 63, 63);
    color: #ffffff; 
    font-size: 16px;
    padding: 20px 10px 10px 10px;
    text-align: center;
    width: 320px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;

  }
  .burbuja_comentario:after {
    border: solid 10px transparent;
    border-top-color: rgb(63, 63, 63); 
    border-bottom: 0;
    bottom: -20px; 
    display:inline-block;
    height: 0;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 0;
    
  }

/* Columna principal */
.saludo{
    text-align: center;
}
.box_principal{
    display: inline-block;
    position: absolute;
    margin: 2rem;   
    width: 100%;
}
.card{
    width: 33.3%
}

.reseña{
    margin-right: 5rem;
}
/* Pagina Proyectos */
.container-fluid{
  display: inline-block;
    
}
.card{
    margin: 1%;
    position: relative;
    display: inline-block;
    width: 18rem;
     
}

/* Pagina Blog */



.contenedor_img{
    display: inline-block;
    position: relative;
    margin-top: 1rem;
    background-color: #4b4c4d;
}
.img_javascript{
    display: inline-block;
    position: relative;
   
}
.texto{
    display: inline-block;
    position: relative;
}
.container_texto{
    display: inline-block;
    position: relative;
    width: 600px;
    height: 500px;
    margin-top: 2rem; 
    background-color: #4b4c4d;   
}
/* footer*/
.footer-basic {
    padding:40px;
    background-color:#ffffff;
    color:#4b4c4d;
    position: relative;
    
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }